.recipe_wrap_link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.recipe_wrap_link img,
.recipe_wrap_link svg {
  display: block;
  height: 100%;
  object-fit: cover;
}
