.footer {
  background-color: #e5e8ec;
  border-top: 1px solid black;
  padding: 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.footer_container {
  display: flex;
  justify-content: start;
  align-items: center;
}
