.header{
   border-bottom: 1px solid black;
   padding: 1rem 0;
   width: 100%;
   display: flex;
   justify-content: center;
   background-color:  rgba(133, 247, 19, 0.466);
   margin-bottom: 3rem;
}

.header_content{
display: flex;
align-items: center;
}

nav{
display: flex;
justify-content: end;
padding : 1rem;
}

.nav_list{
display: flex;
flex-direction: row;
gap:2rem;
}

.header_container{
   display: flex;
   flex-direction: column;
justify-content: center;
}

.nav_link {
color:black;
}


.nav_list li:hover, :focus{
transform: scale(1.5);
}

.active{
   color: #F97316;
}

