*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

button {
  font-family: inherit;
  border: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin:0;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: Arial, sans-serif;
  background-color: #F5F5F5;
  color: black;
  line-height: 1.5;
  height: 100%;
}

h1, h2, h3 {
  font-family: Georgia, serif;
}

input:focus, textarea:focus{
  transform: none;
}
